[Unit]
Description=Delete ubuntu user during boot

[Service]
Type=oneshot
ExecStart=-/usr/sbin/deluser --remove-home ubuntu

[Install]
WantedBy=multi-user.target