# /etc/systemd/system/apt-daily-upgrade.timer
# Copy of/lib/systemd/system/apt-daily-upgrade.timer
# Disables the persistent flag
[Unit]
Description=Daily apt upgrade and clean activities
After=apt-daily.timer

[Timer]
OnCalendar=*-*-* 6:00
RandomizedDelaySec=60m
Persistent=false

[Install]
WantedBy=timers.target